index.php

cms/wp-*.php
cms/wp-admin
cms/wp-includes
cms/wp-*.php
cms/dbrep
cms/xmlrpc.php
cms/license.txt
cms/readme.html
cms/welcome.html
cms/wp-content/cache
cms/wp-content/languages
cms/wp-content/uploads
cms/wp-content/upgrade
cms/wp-content/plugins
!cms/wp-content/
!cms/wp-content/themes/portfolio-s.info
!cms/wp-content/themes/**/index.php

replica

.htaccess
.htpasswd

.DS_Store

node_modules

!_template/.htaccess