@use '../01_foundation/mixin' as *;
@use '../01_foundation/vars-general' as *;

/*---------------------------------

  Home

---------------------------------*/

/*  
  Override
---------------------------------*/
.l-siteroot {
  a {
    pointer-events: none;
  }
}

/*  
  メインビジュアル（最新または固定表示の実績）
---------------------------------*/
.p-home-mainvisual {
  padding: 80px 0;
  border-bottom: 1px solid $color-gray-extraLight;

  &__inner {
    max-width: 1050px;
    margin: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @include fts(18, 26);
    font-weight: bold;

    &[data-text-en] {
      @include fts(14, 14);
      font-weight: normal;

      &:before {
        content: attr(data-text-en);
        display: inline-block;
        font-weight: bold;
        margin-right: 10px;
        @include fts(18, 26);
      }
    }
  }
}

/*  
  最近の実績
---------------------------------*/
.p-home-works {
  margin-top: 40px;

  & + & {
    margin-top: 90px;
  }

  &__footer {
    margin-top: 40px;
  }

  &__toDetail {
    text-align: right;

    a {
      @include hoverEffect;

      &:after {
        content: '\203A';
        display: inline-block;
        margin-left: 5px;
        transition: transform 0.3s;
      }

      &:hover {
        color: $color-black;

        &:after {
          transform: translateX(2px);
        }
      }
    }
  }
}

/*  
  自己紹介
---------------------------------*/
.p-home-about {
  padding: 40px 0 0;
  color: $color-gray-dark;
  @include fts(12, 18);

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: normal;
    @include fts(14, 18);

    i {
      margin-left: 1em;
      @include fts(10, 18);
    }
  }

  &__footer {
    margin-top: 20px;
  }

  &__toDetail {
    text-align: right;

    a {
      &:after {
        content: '\203A';
        display: inline-block;
        margin-left: 5px;
        transition: transform 0.3s;
      }

      &:hover {
        color: $color-black;

        &:after {
          transform: translateX(2px);
        }
      }
    }
  }
}
