@use '../01_foundation/mixin' as *;
@use '../01_foundation/vars-general' as *;

.l-breadcrumbs {
  padding: 0 40px;

  &__inner {
    @include container;
    padding: 20px 0;
  }

  &__item {
    display: inline-flex;
    color: $color-gray;
    @include fts(12, 16);

    &:not(:last-child) {
      &:after {
        content: '\203A';
        margin: 0 8px;
      }
    }

    a {
      display: inline-block;

      &:hover {
        color: $color-black;
      }
    }
  }
}
