/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./template/resources/scss/common.scss ***!
  \**********************************************************************************************************************************************************/
@charset "UTF-8";
/*---------------------------------

  header

---------------------------------*/
.l-header {
  padding: 0 40px;
  border-bottom: 1px solid #e8e7e7;
}
.l-header__inner {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.l-header__rightNav {
  order: 1;
  margin-right: auto;
}
.l-header__leftNav {
  order: 3;
  margin-left: auto;
}
.l-header__siteroot {
  order: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*  
  siteroot
---------------------------------*/
.l-siteroot {
  text-align: center;
}
.l-siteroot a {
  transition: opacity 0.3s;
}
.l-siteroot a:hover {
  opacity: 0.7;
}
.l-siteroot span {
  display: inline-block;
  vertical-align: bottom;
  padding: 20px 0;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.3333333333;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
}
.l-siteroot span:after {
  content: "Just Another Portfolio Site";
  display: block;
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1;
  font-family: "Noto Sans JP", Verdana, Meiryo, sans-serif;
  font-weight: normal;
  color: #999;
}

/*  
  global navigation
---------------------------------*/
.l-gnav__items {
  display: flex;
  align-items: center;
}
.l-gnav__item {
  color: #999;
}
.l-gnav__item:not(:last-child) {
  margin-right: 150px;
}
.l-gnav__item a {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  transition: color 0.3s;
}
.l-gnav__item a:hover, .l-gnav__item a.is-active {
  color: #000;
}
.l-gnav__item a:hover span:before, .l-gnav__item a.is-active span:before {
  width: 100%;
  right: auto;
  left: 0;
}
.l-gnav__item span {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 0 5px;
  overflow: hidden;
}
.l-gnav__item span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.2s ease-in-out, right 0.2s ease-in-out, left 0.2s ease-in-out;
}

/*---------------------------------

  footer

---------------------------------*/
.l-footer {
  margin-top: 80px;
  padding: 0 40px;
  background: linear-gradient(to bottom, #fff 0%, #e8e7e7 100%);
}
.l-footer__inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 0;
}
.l-footer__fnav {
  margin-top: 45px;
}
.l-footer__copyright {
  margin-top: 45px;
}

/*  
  footer navigation
---------------------------------*/
.l-fnav__primaryItems {
  display: flex;
  justify-content: space-between;
}
.l-fnav__primaryItem {
  color: #555;
}
.l-fnav__primaryItem > a {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
}
.l-fnav__primaryItem > a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.2s ease-in-out, right 0.2s ease-in-out, left 0.2s ease-in-out;
}
.l-fnav__primaryItem > a:hover {
  color: #000;
}
.l-fnav__primaryItem > a:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}
.l-fnav__secondaryItems {
  margin-top: 15px;
}
.l-fnav__secondaryItem {
  color: #777;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1;
}
.l-fnav__secondaryItem:not(:last-child) {
  margin-bottom: 10px;
}
.l-fnav__secondaryItem a:hover {
  color: #555;
}

/*  
  copyright
---------------------------------*/
.l-copyright {
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1;
  color: #999;
}

/*---------------------------------

  structure

---------------------------------*/
.l-structure {
  padding: 0 40px;
}
.l-structure__inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.l-structure.l-structure--single .l-structure__inner {
  padding: 40px 0;
}
.l-structure.l-structure--double {
  margin-top: 40px;
}
.l-structure.l-structure--double .l-structure__inner {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.l-structure.l-structure--double .l-main {
  width: 670px;
  padding-bottom: 80px;
}
.l-structure.l-structure--double .l-main > *:last-child {
  margin-bottom: 0 !important;
}
.l-structure.l-structure--double .l-sidebar {
  width: 300px;
  padding-left: 30px;
  padding-bottom: 80px;
  margin-left: auto;
  border-left: 1px solid #e8e7e7;
}
.l-structure.l-structure--double .l-sidebar > *:last-child {
  margin-bottom: 0 !important;
}
.l-structure.l-structure--double .l-pager {
  width: 100%;
  border-top: 1px solid #e8e7e7;
}
.l-structure.l-structure--home .l-structure__inner {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.l-structure.l-structure--home .l-mainvisual {
  width: 100%;
  border-bottom: 1px solid #e8e7e7;
}
.l-structure.l-structure--home .l-main {
  width: 670px;
  margin-right: auto;
  padding-bottom: 80px;
}
.l-structure.l-structure--home .l-main > *:last-child {
  margin-bottom: 0 !important;
}
.l-structure.l-structure--home .l-sidebar {
  width: 300px;
  padding-left: 30px;
  padding-bottom: 80px;
  margin-left: auto;
  border-left: 1px solid #e8e7e7;
}
.l-structure.l-structure--home .l-sidebar > *:last-child {
  margin-bottom: 0 !important;
}

.l-section + .l-section {
  margin-top: 90px;
}
.l-section > *:last-child {
  margin-bottom: 0 !important;
}

.l-breadcrumbs {
  padding: 0 40px;
}
.l-breadcrumbs__inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.l-breadcrumbs__item {
  display: inline-flex;
  color: #999;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.3333333333;
}
.l-breadcrumbs__item:not(:last-child):after {
  content: "›";
  margin: 0 8px;
}
.l-breadcrumbs__item a {
  display: inline-block;
}
.l-breadcrumbs__item a:hover {
  color: #000;
}

/*---------------------------------

  components

---------------------------------*/
/*  
  見出し
---------------------------------*/
.c-primaryHeader {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1;
}
.c-primaryHeader[data-text-en] {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: normal;
}
.c-primaryHeader[data-text-en]:before {
  content: attr(data-text-en);
  display: inline-block;
  margin-right: 30px;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1;
}
.c-primaryHeader.c-primaryHeader--md {
  margin-bottom: 40px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
}
.c-primaryHeader.c-primaryHeader--md[data-text-en] {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
}
.c-primaryHeader.c-primaryHeader--md[data-text-en]:before {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
}

.c-secopndaryHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
  padding-bottom: 20px;
  background: linear-gradient(to right, #000 0%, #000 100%) no-repeat left bottom;
  background-size: 1em 1px;
}

.c-heading-annotation {
  margin: 30px auto;
  color: #999;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.6666666667;
}

/*  
  区切り線
---------------------------------*/
.c-separator {
  background-image: linear-gradient(#e8e7e7, #e8e7e7 33.33%, hsla(0, 0%, 100%, 0) 33.33%, hsla(0, 0%, 100%, 0) 100%);
  background-size: 100% 3px;
  background-repeat: repeat-y;
  border: none;
  display: block;
  width: 40px;
  height: 20px;
  margin: 6em auto;
}

/*  
  メディア型レイアウト
---------------------------------*/
.c-mediaGroup.c-mediaGroup--underlined .c-mediaGroup__item {
  padding: 40px 0;
  border-bottom: 1px solid #e8e7e7;
}

.c-media.c-media--reverse .c-media__body {
  flex-direction: row-reverse;
}
.c-media.c-media--reverse .c-media__vis {
  margin-right: 0 !important;
  margin-left: 50px;
}
.c-media.c-media--lg > a:hover .c-media__toDetail:after {
  transform: translateX(5px);
}
.c-media.c-media--lg .c-media__body {
  position: relative;
}
.c-media.c-media--lg .c-media__vis {
  width: 260px;
  margin-right: 50px;
}
.c-media.c-media--lg .c-media__title {
  margin-bottom: 20px;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 1.2352941176;
}
.c-media.c-media--lg .c-media__note {
  margin-top: 40px;
}
.c-media.c-media--lg .c-media__toDetail {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0;
}
.c-media.c-media--lg .c-media__toDetail:before {
  content: "Detail";
  display: inline-block;
  line-height: 30px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
}
.c-media.c-media--lg .c-media__toDetail:after {
  content: "→";
  display: inline-block;
  line-height: 30px;
  margin-left: 5px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  transition: transform 0.3s;
}
.c-media > a {
  display: block;
  transition: opacity 0.3s;
}
.c-media > a:hover {
  opacity: 0.7;
}
.c-media__body {
  display: flex;
  align-items: center;
}
.c-media__vis {
  flex-shrink: 0;
  width: 180px;
  margin-right: 30px;
  border: 1px solid #e8e7e7;
}
.c-media__detail {
  flex: 1;
}
.c-media__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
.c-media__note {
  margin-top: 30px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
}

/*  
  カード型レイアウト
---------------------------------*/
.c-cardGroup {
  margin-bottom: 60px;
  overflow: hidden;
}
.c-cardGroup.c-cardGroup--threeUp .c-cardGroup__item {
  width: calc(33.33% - 50px);
}
.c-cardGroup__inner {
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -40px;
}
.c-cardGroup__items {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.c-cardGroup__item {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.c-card.c-card--featured .c-card__title:before {
  content: "★";
  margin-right: 5px;
  color: #0d7d00;
}
.c-card__vis {
  border: 1px solid #e8e7e7;
}
.c-card__vis > a {
  display: block;
  transition: opacity 0.3s;
}
.c-card__vis > a:hover {
  opacity: 0.7;
}
.c-card__header {
  margin-top: 20px;
}
.c-card__title {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
.c-card__body {
  margin-top: 5px;
}
.c-card__footer {
  margin-top: 20px;
}
.c-card__note {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
}

/*  
  タグ
---------------------------------*/
.c-tagGroup {
  display: flex;
  flex-wrap: wrap;
}
.c-tagGroup__item {
  margin-right: 10px;
  margin-bottom: 3px;
}

.c-tag {
  color: #999;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  white-space: nowrap;
}
.c-tag:before {
  content: "#";
  margin-right: 3px;
}
.c-tag a {
  color: #999;
  text-decoration: underline;
}
.c-tag a:hover {
  color: #555;
}

.u-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
}

.u-break-word {
  word-break: break-all;
}

.u-weightBold {
  font-weight: bold;
}

.u-weightSemiBold {
  font-weight: 500;
}

.u-mbZero {
  margin-bottom: 0 !important;
}

.u-mtOneLine {
  margin-top: 1em !important;
}

.u-mtTwoLine {
  margin-top: 2em !important;
}
