/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./template/resources/scss/home.scss ***!
  \********************************************************************************************************************************************************/
@charset "UTF-8";
/*---------------------------------

  Home

---------------------------------*/
/*  
  Override
---------------------------------*/
.l-siteroot a {
  pointer-events: none;
}

/*  
  メインビジュアル（最新または固定表示の実績）
---------------------------------*/
.p-home-mainvisual {
  padding: 80px 40px;
  background: #f6f6f6;
}
.p-home-mainvisual__inner {
  position: relative;
  max-width: 700px;
  margin: auto;
}
.p-home-mainvisual__inner::before {
  content: "Pickup";
  position: absolute;
  top: 0;
  left: 0;
  background: #555;
  color: #fff;
  padding: 4px 10px;
  min-width: 80px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 100px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
}
.p-home-mainvisual__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4444444444;
  font-weight: bold;
}
.p-home-mainvisual__header[data-text-en] {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: normal;
}
.p-home-mainvisual__header[data-text-en]:before {
  content: attr(data-text-en);
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4444444444;
}

/*  
  最近の実績
---------------------------------*/
.p-home-works {
  margin-top: 40px;
}
.p-home-works + .p-home-works {
  margin-top: 90px;
}
.p-home-works__footer {
  margin-top: 40px;
}
.p-home-works__toDetail {
  text-align: right;
}
.p-home-works__toDetail a {
  transition: opacity 0.3s;
}
.p-home-works__toDetail a:hover {
  opacity: 0.7;
}
.p-home-works__toDetail a:after {
  content: "›";
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s;
}
.p-home-works__toDetail a:hover {
  color: #000;
}
.p-home-works__toDetail a:hover:after {
  transform: translateX(2px);
}

/*  
  自己紹介
---------------------------------*/
.p-home-about {
  padding: 40px 0 0;
  color: #555;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
}
.p-home-about__header {
  margin-bottom: 20px;
}
.p-home-about__title {
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857;
}
.p-home-about__title i {
  margin-left: 1em;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.8;
}
.p-home-about__body p {
  margin-top: 0.5em;
}
.p-home-about__footer {
  margin-top: 20px;
}
.p-home-about__toDetail {
  text-align: right;
}
.p-home-about__toDetail a:after {
  content: "›";
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s;
}
.p-home-about__toDetail a:hover {
  color: #000;
}
.p-home-about__toDetail a:hover:after {
  transform: translateX(2px);
}
