/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./template/resources/scss/works.scss ***!
  \*********************************************************************************************************************************************************/
@charset "UTF-8";
/*---------------------------------

  Works Entry

---------------------------------*/
/*  
  Override
---------------------------------*/
.l-footer {
  margin-top: 0;
}

/*  
  ヘッダー
---------------------------------*/
.p-entry-header {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.p-entry-title {
  padding-bottom: 10px;
  font-size: 28px;
  font-size: 0.28rem;
  line-height: 1.5;
  font-weight: bold;
  background: linear-gradient(to right, #000 0%, #000 100%) no-repeat left bottom;
  background-size: 1em 1px;
}

.p-entry-eyecatch {
  position: relative;
  margin-bottom: 40px;
  border: 2px solid #e8e7e7;
}
.p-entry-eyecatch:before {
  content: "";
  display: block;
  padding-top: 61.2244897959%;
}
.p-entry-eyecatch img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-position: center;
  object-fit: contain;
}
.p-entry-eyecatch a {
  transition: opacity 0.3s;
}
.p-entry-eyecatch a:hover {
  opacity: 0.7;
}

/*  
  担当範囲・対応環境
---------------------------------*/
.p-entry-position {
  margin-bottom: 30px;
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1.5;
  color: #999;
  overflow: hidden;
}
.p-entry-position__term {
  clear: both;
  float: left;
  width: 5em;
  margin-right: 1em;
}
.p-entry-position__term:not(:first-of-type) {
  margin-top: 5px;
}
.p-entry-position__detail {
  margin-left: 6em;
}
.p-entry-position__detail:not(:first-of-type) {
  margin-top: 5px;
}

/*  
  概要
---------------------------------*/
.p-entry-overview {
  margin-bottom: 40px;
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1.8;
}
.p-entry-overview > *:last-child {
  margin-bottom: 0 !important;
}
.p-entry-overview code {
  display: block;
  margin: 1em auto 1em;
  padding: 10px;
}
.p-entry-overview p {
  margin: 0 auto 1em;
}
.p-entry-overview p:empty {
  display: none;
}
.p-entry-overview ul {
  margin: 1em auto 1em;
}
.p-entry-overview ul li {
  text-indent: -1em;
  margin-left: 1em;
  margin-bottom: 5px;
}
.p-entry-overview ul li:before {
  content: "•";
  display: inline-block;
  width: 12px;
  text-indent: 0;
  font-size: 16px;
  font-size: 0.16rem;
  line-height: 1.125;
}
.p-entry-overview ol {
  margin: 1em auto 1em;
}
.p-entry-overview ol li {
  display: flex;
  counter-increment: order;
  margin-bottom: 5px;
}
.p-entry-overview ol li:before {
  content: counter(order) ".";
  margin-right: 0.5em;
}
.p-entry-overview dl {
  margin: 0 auto 1em;
}
.p-entry-overview dl dt {
  font-size: 1.2em;
}
.p-entry-overview dl dd {
  margin: 0.5em 0 0;
}
.p-entry-overview dl dd > *:last-child {
  margin-bottom: 0 !important;
}
.p-entry-overview dl dd + dt {
  margin: 1em 0 0;
}
.p-entry-overview hr {
  background-image: linear-gradient(#e8e7e7, #e8e7e7 33.33%, hsla(0, 0%, 100%, 0) 33.33%, hsla(0, 0%, 100%, 0) 100%);
  background-size: 100% 3px;
  background-repeat: repeat-y;
  border: none;
  display: block;
  width: 40px;
  height: 20px;
  margin: 2em auto;
}
.p-entry-overview a {
  color: #759dc9;
  text-decoration: underline;
}
.p-entry-overview a:hover {
  color: #378cea;
}
.p-entry-overview blockquote {
  margin: 4em auto;
  padding-left: 20px;
  color: #555;
  border-left: 5px solid #bbb;
}
.p-entry-overview cite {
  font-style: normal;
  font-size: 80%;
}

/*  
  詳細（静止画・動画）
---------------------------------*/
.p-entry-figure {
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #e8e7e7;
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1.5;
}
.p-entry-figure video,
.p-entry-figure img {
  display: block;
  width: 100%;
  border: 1px solid #e8e7e7;
}
.p-entry-figure figcaption {
  margin-top: 20px;
  display: flex;
}
.p-entry-figure figcaption span {
  display: block;
  margin-right: 0.5em;
  font-weight: bold;
  flex-shrink: 0;
}

/*  
  サイドナビ（実績メタ情報）
---------------------------------*/
.p-entry-info {
  padding: 40px 0 0;
  color: #555;
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1.5;
}
.p-entry-info__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 0.16rem;
  line-height: 1.5;
}
.p-entry-info__list li {
  text-indent: -1em;
  margin-left: 1em;
}
.p-entry-info__list li:not(:last-child) {
  margin-bottom: 5px;
}
.p-entry-info__list li:before {
  content: "•";
  display: inline-block;
  width: 1em;
  text-indent: 0;
}
.p-entry-info__list li a {
  color: #759dc9;
  text-decoration: underline;
}
.p-entry-info__list li a:hover {
  color: #378cea;
}
.p-entry-info__repositories li a {
  color: #759dc9;
  text-decoration: underline;
}
.p-entry-info__repositories li a:hover {
  color: #378cea;
}
.p-entry-info p a {
  color: #759dc9;
  text-decoration: underline;
}
.p-entry-info p a:hover {
  color: #378cea;
}

/*  
  ページャー
---------------------------------*/
.p-entry-pager {
  position: relative;
  display: flex;
  align-items: stretch;
  padding: 20px 0;
}
.p-entry-pager__item--prev {
  order: 1;
  flex: 1;
  margin-right: auto;
  max-width: calc(50% - 60px);
}
.p-entry-pager__item--prev > a {
  display: block;
  height: 100%;
  padding: 20px 0;
}
.p-entry-pager__item--prev > a:hover {
  color: #999;
}
.p-entry-pager__item--prev > a:hover span i:before {
  transform: translateX(-3px);
}
.p-entry-pager__item--prev span {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  font-weight: bold;
}
.p-entry-pager__item--prev span i {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1;
  color: #999;
  white-space: nowrap;
}
.p-entry-pager__item--prev span i:before {
  content: "‹";
  display: inline-block;
  transition: transform 0.3s;
}
.p-entry-pager__item--prev span i:after {
  content: "Previous Works";
  display: inline-block;
  margin-left: 10px;
}
.p-entry-pager__item--next {
  order: 3;
  flex: 1;
  margin-left: auto;
  text-align: right;
  max-width: calc(50% - 60px);
}
.p-entry-pager__item--next > a {
  display: block;
  height: 100%;
  padding: 20px 0;
}
.p-entry-pager__item--next > a:hover {
  color: #999;
}
.p-entry-pager__item--next > a:hover span i:after {
  transform: translateX(3px);
}
.p-entry-pager__item--next span {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  font-weight: bold;
}
.p-entry-pager__item--next span i {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1;
  color: #999;
  white-space: nowrap;
}
.p-entry-pager__item--next span i:before {
  content: "Next Works";
  display: inline-block;
  margin-right: 10px;
}
.p-entry-pager__item--next span i:after {
  content: "›";
  display: inline-block;
  transition: transform 0.3s;
}
.p-entry-pager__item--archive {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 38px;
  margin: auto;
}
.p-entry-pager__item--archive > a {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}
.p-entry-pager__item--archive > a:hover {
  opacity: 0.7;
}
.p-entry-pager__item--archive span {
  display: block;
}
.p-entry-pager__item--archive span:before {
  content: "";
  display: block;
  padding-top: 100%;
  background: linear-gradient(to right, #000 0, #000 18px, #fff 18px, #fff 20px, #000 20px, #000 38px) no-repeat left top, linear-gradient(to right, #000 0, #000 18px, #fff 18px, #fff 20px, #000 20px, #000 38px) no-repeat left bottom;
  background-size: 38px 18px, 38px 18px;
}
