<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__siteroot">
      <p class="l-siteroot">
        <a href="/template/"><span>PORTFOLIO-S</span></a>
      </p>
    </div>
    <div class="l-footer__fnav">
      <nav class="l-fnav">
        <ul class="l-fnav__primaryItems">
          <li class="l-fnav__primaryItem">
            <a href="/template/works/">Works</a>
            <ul class="l-fnav__secondaryItems">
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
            </ul>
          </li>
          <li class="l-fnav__primaryItem">
            <a href="/template/works/">Managements</a>
            <ul class="l-fnav__secondaryItems">
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">東京メトロ To Me CARD</a>
              </li>
            </ul>
          </li>
          <li class="l-fnav__primaryItem">
            <a href="/template/tools/">Tools</a>
            <ul class="l-fnav__secondaryItems">
              <li class="l-fnav__secondaryItem">
                <a href="">Pattern Library Genarator</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">Pattern Library Genarator</a>
              </li>
              <li class="l-fnav__secondaryItem">
                <a href="">Pattern Library Genarator</a>
              </li>
            </ul>
          </li>
          <li class="l-fnav__primaryItem">
            <a href="/template/about">About</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="l-footer__copyright">
      <p class="l-copyright"><small>copyright 2020 Shingo Horie</small></p>
    </div>
  </div>
</footer>
