.u-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
}

.u-break-word {
  word-break: break-all;
}

.u-weightBold {
  font-weight: bold;
}

.u-weightSemiBold {
  font-weight: 500;
}

.u-mbZero {
  margin-bottom: 0 !important;
}

.u-mtOneLine {
  margin-top: 1em !important;
}
